ul{height: 50px;
    width: 605px;
    background-color: teal;
    margin: 0 ;
    padding: 0;
}
ul li{
    list-style-type: none;
}
ul li a{
    width: 120px;
    color: whitesmoke;
    font-size: 24px;
    text-decoration:none;
    float:left;
    text-align: center;
    border-right:1px solid rgb(0, 0, 0);
    line-height: 50px;
}
ul li a:hover{background-color: black;}